@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1{
    color:deeppink;
    font-family: mystery quest;
    font-size: 50px;
}
p{
    font-weight: 450;
    font-family: roboto;
    font-size: 25px;
}