@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: hsl(30, 54%, 90%);
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
}

.content1{
    background-color: white;
    width: 23%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.inside1{
    height: 76vh;
    width: 90%;
}

header img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

header{
    display: flex;
    flex-wrap: wrap;
    
}

header h1{
    font-family: "Young Serif";
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 550;
}

header p{
    color: hsl(30, 10%, 34%);
    font-family: outfit;
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 20px;
}

.box1{
    background-color: hsl(330, 100%, 98%);
    width: 100%;
    height: 12vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.box1 ul{
    height: 60%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(30, 9%, 25%);
}

.box1 ul li{
    font-family: outfit;
}

.preparationtime{
    font-weight: 800;
    font-size: 15px;
    color: hsl(332, 51%, 32%);
    margin-left: 10px;
}

.content2{
    background-color: white;
    width: 23%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.box2 ul{
    height: 90%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: hsl(30, 9%, 25%);
}

.box2 ul li{
    font-family: outfit;
}

.ingredients{
    font-weight: 500;
    font-size: 20px;
    color: hsl(332, 51%, 32%);
    margin-left: 10px;
    margin-top: 20px;
    font-family: "Young Serif";
}

.instructions{
    font-weight: 500;
    font-size: 25px;
    color: hsl(332, 51%, 32%);
    margin-left: 10px;
    font-family: "Young Serif";
    margin-bottom: 20px;
}

.inside2{
    height: 76vh;
    width: 90%;
    padding: 30px;
}

.inside2 ol li::marker{
    color:hsl(332, 51%, 32%);
}

.inside2 ol li{
    color: hsl(30, 9%, 25%);
    padding: 3px 0;
}

hr{
   margin-top: 15px;
   margin-bottom: 15px;
   margin-right: 5px;
}

.nutrition{
    font-weight: 500;
    font-size: 25px;
    color: hsl(332, 51%, 32%);
    margin-left: 10px;
    font-family: "Young Serif";
    margin-bottom: 20px;
}

table, th, td{
    border-bottom: 1px solid rgb(182, 182, 182);
    border-collapse: collapse;
    width: 100%;
    font-family: outfit;
    height:50px;  
}
th{
    color: hsl(332, 51%, 32%);
}
p{
    font-family: outfit;
}