h1{
    text-align:center;
    color:blueviolet;
    font-size: 44px;
}
p{
    text-align: center;
    color:crimson;
    text-decoration-line:underline;
    text-decoration-thickness:initial;
    text-decoration-color:brown;
}
button,a{
    text-align: center;
    color:brown;
    font-size: 32px;
}