*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block{
    width: 9rem;
    height: 9rem;
    background-color: #1a1a1a;
    transition: 0.5s;
}

.block:hover{
    transform: translateX(5rem) rotate(45deg) scale(2);
    background-color: #3a3a3a;
    border-radius: 50%;
}