body{
    background-color:rgb(50, 50, 50);
}
h1{
    text-align: center;
}
form{
    text-align: center;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 20px;
    padding: 1px;
}