*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1{
    color: white;
    display: flex;
    
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height: 10vh;
}
.header{
    display: flex;
    padding: 0 30px;
}
.navigation nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    list-style-type: none;
}
.navigation nav ul{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    padding: 0 30px;
}